@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
h2 {
    color: #c19bf5;
    font-size: 5vw;
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.3vw #f7f7fe;
}

h2::before {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #8338ec;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    border-right: 2px solid #c19bf5;
    -webkit-text-stroke: 0vw #f7f7fe;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}