@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: radial-gradient(circle at 50% 0, hsla(235, 60%, 60%, .75), hsla(225, 20%, 10%, 1)), url('https://images.unsplash.com/photo-1631539816626-9b5abd9acf9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
    background-position: 50% 50%;
    background-size: 100% 100%, cover;
}

ul {
    left: 25%;
    transform: translateX(-50px);
    font-weight: bold;
    color: #fffc;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0;
    background-color: transparent;
    width: 70px;
    height: 100%;
    position: relative;
    box-shadow: 40px 0 60px -35px rgba(0, 0, 0, .5);
    padding-left: 30px;
    background-image: radial-gradient(at 100% 50%, rgb(255, 255, 255, .15) 1%, rgb(255, 255, 255, .05) 35%, transparent 70%);
}

ul li {
    border-radius: 5px 0 0 5px;
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0;
    padding-left: 5px;
    max-width: 70px;
    min-width: 0;
    overflow: hidden;
    box-sizing: border-box;
    margin: 5px 0;
    transition: border-radius .4s, min-width .4s, border .4s .2s;
    backdrop-filter: blur(10px);
    border: 1px solid transparent;
    box-sizing: border-box;
}

ul li span:first-child {
    min-width: 70px;
    display: inline-block;
    padding-left: 5px;
}

ul li span:last-child {
    padding: 0 5px;
    opacity: 0;
    transition: opacity .4s;
}

ul li:hover {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .3);
    background-image: linear-gradient(90deg, #fff3 65px, #37f2 75px);
    min-width: 300px;
}

ul li:hover span:last-child {
    opacity: 1;
}


.cse{
    background-color: hsla(235, 60%, 60%, .75);
    display: flex;
    position: relative;
    width: 320px;
    height:60px;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 40px;
    font-weight:500;
   
    text-decoration: none;
    color: black;
    border: solid 4px rgb(156, 156, 156);
}

.cse:hover{
    background-color: rgb(181, 187, 187);
}

.eces{
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}

.cses{
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}

.ece{
    background-color: hsla(235, 60%, 60%, .75);
    display: flex;
    position: relative;
    width: 320px;
    height:60px;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 40px;
    font-weight:500;
    text-decoration: none;
    color: black;
    border: solid 4px rgb(156, 156, 156);
}

.ece:hover{
    background-color: rgb(181, 187, 187);
}


.lg{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}